 .App {
     text-align: center;
 }
 
 .App-Left,
 .App-Right {
     display: inline-block;
     width: 7.10rem;
     height: 10.8rem;
 }
 
 .App-logo {
     height: 1.41rem;
 }
 
 .App-header {
     background-color: #222;
     height: 10.2rem;
     /* padding: 2rem; */
     color: white;
 }
 
 .App-intro {
     font-size: large;
 }
 
 .App-Phone {
     display: inline-block;
     width: 4.70rem;
     height: 10.8rem;
 }
 
 .Phone-box {
     width: 4.72rem;
     height: 10.2rem;
     border: 1px solid #000;
     border-radius: 0.6rem;
 }
 
 .Phone {
     width: 4.36rem;
     height: 8.1rem;
     background: rgba(0, 0, 0, 0.7);
 }